
form{
  display: inline-block;
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #00217D;
  margin: 5px 0px;
}
hr {
  border: solid 1px gray;
}
input [type="text"] {
  margin: 15px 0px;
  background-color: none;
  border: none;
  border-bottom: solid 3px #00217D;
  outline: none;

  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  color: gray;
  
}
input [type="text"]:focus{
  outline: none;
}
button {
  width: 100%;
  display: inline-block;
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #00217D;
  outline: none;
  border: solid 5px #00217D;

  cursor: pointer;

  transition: 0.3s;
}
button:hover{
  background-color: #00217D;
  color: white;
}
/* SECTIONS */

#header {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  width: 100%;
  height: 50px;
  color: white;
  border-bottom: solid 5px #00217D;
  background-color: #00217D;
  z-index: 10000;
}
#header h1,h2,h3,h4,h5,h6{
  color: white;
}
#main {
  vertical-align: top;
  position: relative;
  display: inline-block;
  height: 100%;
}

#prompt {
  display: inline-block;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

#tags {
  display: inline-block;
  width: 100%;
  padding: 0px 20px;
}

#solution-space {
  display: inline-block;
  width: 100%;
  padding: 0px 20px;
}
#chat-space-wrapper {
  width: 100%;
  height: 165px;
  position: absolute;
  bottom: 7%;
}
#chat-space {
  width: 100%;
  margin: 0px;
  height: 100px;
  border-top: solid 1px gray;
  vertical-align: bottom;
}
#chat-space > img {
  display: inline-block;
  height: 80%;
  padding: 10px;
  border-radius: 50%;
  vertical-align: top;
}
#chat-space input[type="text"] {
  position: absolute;
  top: -5000%;
  visibility: collapse;
}
#chat-space textarea{
  display: inline-block;
  height: 100%;
  width: 70%;
  margin: 0px;
  padding: 15px;
  outline: none;
  border:none;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;

  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  vertical-align: top;
}
#submitters {
  display: inline-block;
}
#submitters button {
  width: 100%;
}
#solve {
  border-color: #00D16A;
  color: #00D16A;
}
#solve:hover{
  background-color: #00D16A;
  color: white;
}
#chat:hover{
  background-color: #00217D;
  color: white;
}
#participants-space{
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}
#participants-space > div {
  position: relative;
  display: inline-block;
  margin: 0px 70px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #AAA;
}
#participants-space div img {
  position: relative;
  height: 100%;
  border-radius: 25px;
}
#insights-space {
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 20px;
  height: 100%;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #CCC;
}
#insights-space h1,h2,h3,h4,h5,h6{
  color: #00D16A
}
#close {
  padding: 3px;
  float: right;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 0.7em;

  background-color: red;
  color: white;
  cursor: pointer;
}
#upvote {
  padding: 3px;
  float: left;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 0.7em;

  background-color:green;
  color: white;
  cursor: pointer;
}

#solution-space h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;

}
#solution-space span {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}


#question-box {
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
  padding-left: 20px;

}
#question {
  vertical-align: top;
  display: inline-block;
  width: 80%;
  min-height: 75px;
}
#question-options{
  vertical-align: top;
  display: inline-block;
  width: 18%;
}

#question-add-wrapper{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
}
#question-add{
  padding: 50px;
  width: 90%;
  height: 50%;
  background-color: white;
  border: solid 7px #00217D;
  box-shadow: 0px 0px 40px #888;
}
#question-add textarea{
  border: none;
  background-color: none;

  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #00217D;
}
#question-add textarea:focus{
  outline: none;
}

#cancel{
  border-color: #F96E58;
  color: #F96E58;
}
#cancel:hover{
  background-color: #F96E58;
  color: white;
}
/* CLASSES */

.tag {
  position: relative;
  display: inline-block;
  height: 50px;
  border-radius: 0px 25px 25px 0px;
  padding: 2px 15px 0px 10px;
  margin: 5px 10px 5px 0px;

  background-color: #00217D;

  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: white;
  line-height: -50%;

  vertical-align: middle;
  line-height: 50px;

  transition: 0.3s;
  cursor: pointer;
}
.tag img {
  display: inline-block;
  float: left;
  margin: 13px 10px 5px 0px;
  height: 40%;
}
.tag:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 30px #AAA;
}
.chat-bubble {
  position: absolute;
  bottom: 130%;
  left: 0%;
  transform: translateX(-42%);
  width: 200px;
  padding: 15px;

  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  color: gray;

  background-color: white;
  max-height: 150px;
  overflow-y: auto;

  border: solid 3px #00217D;
  border-radius: 20px;
  
}

.insight-container {
  margin: 30px 0px;
  display: table;
  width: 100%;

}

.insight-picture{
  display: table-cell;
  padding: 0px 5px;
  width: 60px;
}
.insight-picture img {
  width: 100%;
  border-radius: 27px;
  box-shadow: 0px 0px 15px #AAA;
}
.insight {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 15px;
}
.insight p{
  font-family: Playfair Display, serif;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  color: gray;
}
.insight h3 {
  margin: 0;
}

.solution{
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 400px;
  border: solid 5px #00D16A;
}
.solution-vote{
  position: absolute;
  top: -5px;
  right: -5px;

  padding: 0px 5px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #00D16A;
  border: solid 5px #00D16A;
  cursor: pointer;
  transition: 0.2s;
}
.solution-vote:hover {
  background-color: #00D16A;
  color: white;
}
